/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container for the entire layout */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header Section */
.header {
  height: 130px;
  border: 1px solid #000;
  text-align: center;
border-radius: 10px;
  
  font-size: 30px;
margin: 5px;
  background-color: #0b0526;
}

/* Content Section */
.content {
  display: flex;
  border-top: 1px solid #000;
}

/* Left Section */
.left {
  flex: 2; /* Takes up 2/3 of the available width */
  height: 700px; /* Adjust height as needed */
  border: 1px solid #000;
margin: 5px;
padding :50px;
background-image:url('1.JPG');
border-radius: 5px; 
 background-color: #fff;
box-shadow:5px 5px 5px black;
}

/* Right Section */
.right {
  flex: 1; /* Takes up 1/3 of the available width */
  height: 700px; /* Adjust height as needed */
margin: 5px;
border-radius: 5px;
  background-color:lightgrey;
box-shadow:5px 5px 5px black;
}
.animated-line {
  animation: slide-left 5s linear infinite;
}

/* Keyframes for animation */
@keyframes slide-left {
  0% {
    transform: translateX(23%);
  }
  100% {
    transform: translateX(-20%);
  }
}
 .f{
padding-top:10px;
font-size:15px;}

.a{
text-align:center;
 font-size: 25px;

}
.b{
margin-top:50px;
}
.c{
  background-color: lightgrey;
border:inset 3px black;
 border-radius: 5px;}
p{
color:white;
}
